.ind-view {
  font-family: Arial, sans-serif;
  display: flex;
}

.content {
  flex: 1;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 20px;
  vertical-align: top;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

/* Optional: Add hover effect for checkboxes */
input[type="checkbox"]:hover {
  cursor: pointer;
}

/* Optional: Add custom styling for selected checkboxes */
input[type="checkbox"]:checked + label {
  color: #007bff; /* Change color when checkbox is checked */
  font-weight: bold;
}

/* Adjust width and margin as needed */
.tech-checkboxes {
  display: flex;
  flex-wrap: wrap;
}

.tech-checkboxes label {
  width: calc(50% - 20px); /* Set width for each checkbox to occupy 33.33% of the container */
  margin-right: 20px;
  margin-bottom: 5px;
  padding-top: 1rem;
  font-size: large;
}

.ind-view > .lang {
  background-image: url('assets/lang.png');
  width: 80rem;
  height: 50rem;
  background-size: 40rem;
  background-repeat: no-repeat;
  margin-top: 3rem;
}

.submit{
  margin-bottom: 15rem;
  font-size: large;
}

.submit:hover {
  cursor: pointer;
}

select{
  cursor: pointer ;
}