.ind-view{
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  margin-left: 4rem;
  gap:5rem;
  color:white;
  font-size: large;
}
.ind-view>.img{
  /* border: 2px solid white; */
  /* margin-left: -1rem; */
  width: 40rem;
  height: 30rem;
 background-image: url('assets/individual.png');
 background-size: 500px;
 background-repeat: no-repeat;
 
}


button{
  padding: 1rem;
  text-align: center;
  font-size: medium;
  background-color: white;
  color:black;
  width:200px;
  cursor: pointer;
}


.button2{
  margin-left: 200px;
}
